.body {
  text-align: center;
  /* background: #F5FFFA; */
  /* font-family: sans-serif; */
  font-family: 'Gloria Hallelujah', cursive;
}

.body h3 {
  font-size: 21px;
}

.body h4 {
  font-size: 17px;
}

.body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./grass-image.jpeg");
    /* background-image: url("./snake-background.jpg"); */
    background-size: 133%;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}

.body h1 {
  font-size: 40px;
  margin-top: 44px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.left-div {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controls {
  border: 1px outset;
  width: 200px;
  height: 170px;
  background: #e6e6e6;
  border-radius: 10px;
  animation-name: controls-window;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score-div {
  border: 1px outset;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  width: 200px;
  height: 135px;
  background: #e6e6e6;
  border-radius: 10px;
  animation-name: score-window;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score-div p {
  margin: 2px;
}

.hire-me-div {
  border: 1px outset;
  width: 200px;
  height: 300px;
  background: #e6e6e6;
  border-radius: 10px;
  min-width: 200px;
  animation-name: hire-me-window;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hire-me-div h5 {
  margin: 0px 10px;
}

.hire-me-div ul {
  list-style-type: none;
}

.hire-me-div li {
  cursor: pointer;
}

.hire-me-div a {
  color: black;
}

.hire-me-div a:hover {
  color: green;
}

.middle-div {
  padding: 0px 50px 0px 50px;
}

.snake-game {
  border: 1px solid;
  width: 500px;
  height: 500px;
  margin: auto;
  background: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.snake-game ul {
  display: flex;
  padding: 0px;
  /* border: 1px solid green; */
  list-style: none;
  margin: 0px;
  height: 25px;
}

.snake-game li {
  height: 25px;
  width: 25px;
  /* border: 1px solid black; */
  /* background: grey; */
}

.game-over, .game-start  {
  border: 1px outset;
  width: 370px;
  position:absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border-radius: 20px;
  font-size: 18px;
  background: #e6e6e6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.game-over {
  height: 250px;
  margin-top: 160px;
}

.game-start {
  height: 310px;
  margin-top: 130px;
  animation-name: start-window;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.game-start img, .game-over img {
  width: 36px;
}

.snake-emoji {
  animation-name: snake-emoji-entrance;
  animation-delay: .3s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.game-over button, .game-start button {
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}

.game-over button:hover, .game-start button:hover {
  background: green;
  border-radius: 5px;
}

.play-pause {
  float: left;
  margin-top: 26px;
  color: green;
}

.points-counter {
  float: right;
  font-weight: bold;
}

.points-counter p {
  margin: 0px;
  margin-top: 17px;
  font-size: 24px;
}

.snake-emoji-runner {
  position: absolute;
  top: 80px;
  width: 36px;
  right: -100px;
}

#hidden {
  display: none;
}

#snake-leave {
  animation-name: snake-emoji-exit;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#window-exit {
  animation-name: window-exit;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#rotate {
  animation-name: game-rotate;
  animation-duration: 1s;
}

@keyframes start-window {
  0% {transform: translateY(-500px);}
  50% {transform: translateY(50px);}
  100% {transform: translateY(0px);}
}

@keyframes hire-me-window {
  0% {transform: translateY(500px);}
  50% {transform: translateY(-50px);}
  100% {transform: translateY(0px);}
}

@keyframes score-window {
  0% {transform: translateY(500px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}

@keyframes controls-window {
  0% {transform: translateY(-500px);}
  50% {transform: translateY(20px);}
  100% {transform: translateY(0px);}
}

@keyframes snake-emoji-entrance {
  0% {transform: translateX(1000px);}
  50% {transform: translateX(-50px);}
  100% {transform: translateX(0px);}
}

@keyframes snake-emoji-exit {
  0% {transform: translateX(0px);}
  50% {transform: translateX(50px);}
  100% {transform: translateX(-1000px);}
}

@keyframes window-exit {
  0% {transform: translateY(0px);}
  50% {transform: translateY(50px);}
  100% {transform: translateY(-700px);}
}

@keyframes game-rotate {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}
